* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* color */
  --color-black: #222222;

  --color-white: #ffffff;
  --color-base: #f4ebe6;
  --color-button: #b68040;
  --color-underbar: #f6eeec;

  /* size */
  --size-font-maintitle: 32px;
  --size-font-subtitle: 28px;
  --size-font-text: 16px;
}
.section1 {
  width: 100%;
  background: linear-gradient(#ddebe3 60%, transparent 40%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section1__title {
  font-size: var(--size-font-maintitle);
  color: var(--color-black);
  padding: 18px;
}

.section1__contents {
  display: flex;
}

.section1__contents img {
  border-radius: 50%;
  transition: 0.3s;
  margin-bottom: 8px;
}

.section1__contents > div > div {
  font-size: var(--size-font-text);
  color: var(--color-black);
  text-align: center;
  padding-bottom: 8px;
  border-bottom: 2px solid transparent;
}

.section1__contents > div:hover div {
  font-size: var(--size-font-text);
  color: #737373;
  text-align: center;
  border-bottom: 2px solid #595959;
  cursor: pointer;
}

.section1__contents > div:hover img {
  transform: scale(1.1);
  box-shadow: 0 17px 20px -18px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.section1__contents > div {
  padding: 9px 30px;
}
