* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  min-width: 400px;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

header a {
  text-decoration: none;
  color: black;
  padding: 0px 8px;
  font-size: 14px;
}

.header__left {
  display: flex;
  align-items: center;
}

header a:hover {
  text-decoration: underline;
}

header span {
  margin-right: 10px;
  transition: 0.5s;
  padding: 6px 15px;
  border-radius: 50%;
}

header span:hover {
  width: 20px;
  height: 20px;
  background-color: #f0f0f0;
}

header button {
  background-color: #2b7de9;
  border: 1px solid #2b7de9;
  border: none;
  padding: 8px 20px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

header button:hover {
  background-color: #2b7de9e7;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

/* main */

.logo {
  min-height: 92px;
  max-height: 290px;
  width: 400px;
  height: 290px;
  /* height: calc(100% - 560px); */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: auto;
}
.logo__box {
  text-align: center;
}

/* search */

.search {
  padding: 20px;
  max-height: 160px;
}

.search__box {
  margin: 0 auto;
  width: auto;
  height: 44px;
  max-width: 584px;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  display: flex;
  align-items: center;
}

.search__box:hover {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  /* border: none; */
}

.search__input {
  border: none;
  color: rgba(0, 0, 0, 0.87);
  word-wrap: break-word;
  outline: none;
  height: 34px;
  flex: 100%;
  font-size: 16px;
}

.search__box .icon1,
.search__box .icon2,
.iconx {
  padding: 0px 15px;
  color: gray;
}

.search__box .icon3 {
  padding-right: 20px;
  color: rgb(46, 130, 163);
}

.iconx {
  border-right: 1px solid #dfe1e5;
}

.search__links {
  padding-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search__links button {
  color: black;
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 5px;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0px 16px;
  height: 36px;
  text-align: center;
  cursor: pointer;
}

.search__links button:hover {
  border: 1px solid rgba(0, 0, 0, 0.178);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.search__links button:active {
  border: 1px solid rgb(102, 102, 255);
}

/* space */
.space {
  flex-grow: 1;
}

/* footer */

footer {
  background-color: #f2f2f2;
  margin-top: auto;
}

.country {
  padding: 15px 30px;
  border-bottom: 1px solid #dadce0;
  font-size: 15px;
  color: #70757a;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__bottom div {
  padding: 0 20px;
}

.footer__bottom div a {
  text-decoration: none;
  color: #70757a;
  padding: 15px;
  display: inline-block;
  font-size: 14px;
}

.footer__bottom div a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 0px) and (max-width: 545px) {
  .footer__bottom {
    flex-direction: column;
  }
}
