header {
  position: fixed;
  width: 100%;
  color: #5d677a;
  box-shadow: 0 2px 20px rgb(46 46 46 / 10%);
  background-color: white;
}

.headerBox {
  max-width: 1440px;
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0px auto;
  padding: 0px 15px;
}

.headerBox a {
  text-decoration: none;
  color: #5d677a;
}

.headerBox > .logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 66px;
}

.headerBox > .logo > a {
  margin-right: 10px;
}

.headerBox > .logo > a > img {
  width: 252px;
}

.headerBox > .logo > .headerBox__hamburger {
  display: none;
  margin-left: auto;
}

.headerBox > .logo > .headerBox__hamburger > button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.headerBox > nav {
  height: 66px;
}

.headerBox > nav > ul {
  display: flex;
  height: 100%;
}

.headerBox > nav > ul > li {
  list-style: none;
  transition: 0.1s;
  padding: 20px 0px;
  margin: 0px 15px;
}

.headerBox > nav > ul > li:nth-child(3):hover ul {
  display: block;
}

.headerBox > nav > ul > li > div > button {
  font-size: 16px;
  color: #5d677a;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.headerBox > nav > ul > li > div > ul {
  display: none;
  background-color: white;
  box-shadow: rgb(46 46 46 / 50%) 0px 2px 14px;
  list-style: none;
  min-width: 230px;
  position: absolute;
  top: 66px;
}

.headerBox > nav > ul > li > div > ul > li {
  height: 45px;
  line-height: 45px;
  white-space: nowrap;
  cursor: pointer;
  padding-left: 15px;
  user-select: none;
  transition: 0.3s;
}

.headerBox > nav > ul > li > div > ul > li:hover {
  background-color: rgb(233, 233, 233);
}

.headerBox > nav > ul > li > div > ul > li:hover a {
  color: rgb(39, 119, 180);
}

.headerBox > .headerBox__menu {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.headerBox > .headerBox__menu > a {
  padding: 18px 0px;
  transition: 0.1s;
}

.headerBox > .headerBox__menu > .job {
  margin-right: 20px;
  padding: 9px 20px;
  border: 3px solid #2777b4;
  border-radius: 5px;
  color: #2777b4;
}

.headerBox > .headerBox__menu > span {
  padding: 0px 5px;
}

/* effect */
.h_underbar:hover {
  border-bottom: 4px solid rgb(249, 181, 21);
}

@media screen and (min-width: 1100px) and (max-width: 1190px) {
  .headerBox > nav > ul > li {
    padding: 20px 0px;
    margin: 0px 7px;
    font-size: 15px;
  }
}

@media screen and (min-width: 0px) and (max-width: 1100px) {
  header {
    position: relative;
  }
  .headerBox {
    flex-direction: column;
    align-items: flex-start;
  }

  .headerBox > nav,
  .headerBox > .headerBox__menu {
    display: none;
  }
  .headerBox > .logo {
    width: 100%;
  }
  .headerBox > .logo > .headerBox__hamburger {
    display: block;
  }

  .headerBox > nav {
    height: auto;
  }

  .headerBox > nav > ul {
    flex-direction: column;
  }

  .headerBox > nav > ul > li {
    padding: 15px;
  }

  .headerBox > nav > ul > li > div {
    display: flex;
    flex-direction: column;
  }

  .headerBox > nav > ul > li > div > button {
    text-align: left;
  }

  .headerBox > nav > ul > li > div > ul {
    display: none;
    box-shadow: none;
    position: relative;
    top: 0px;
    padding-top: 15px;
  }

  .headerBox > .headerBox__menu {
    width: 100%;
    margin-left: 0;
    margin: 0px 15px;
    flex-direction: column;
    align-items: flex-start;
    background-color: #f3f8fb;
  }

  .headerBox > .headerBox__menu > span {
    display: none;
  }

  .headerBox > .headerBox__menu > a {
    padding-left: 15px;
  }
  /* effect */
  .h_underbar:hover {
    border-bottom: none;
    border-left: 4px solid rgb(249, 181, 21);
  }
}
