main {
  padding-top: 66px;
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}

.block {
  display: block;
}

.subTitle {
  color: #5d677a;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 0.5px;
  margin-bottom: 8px;
  text-align: center;
}

.subDescription {
  color: #182642;
  font-size: 30px;
  margin-bottom: 30px;
}

.viewMore {
  font-size: 14px;
  font-weight: bold;
  color: #2777b4;
}

.viewMore:hover {
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-thickness: 2px;
}

/* section1 */
.section1 {
  background-image: url(./images/section1_background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding: 105px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section1 > .upper {
  max-width: 1400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
}

.section1 > .upper > .content1 {
  background-color: white;
  max-width: 930px;
  width: 100%;
  padding: 64px 32px 32px 32px;
  border-radius: 5px;
  height: 290px;
}

.section1 > .upper > .content1 > h1 {
  font-size: 25px;
  letter-spacing: -0.5px;
}
.section1 > .upper > .content1 > span {
  display: block;
  font-size: 20px;
  padding-bottom: 40px;
  letter-spacing: -0.5px;
}

.section1 > .upper > .content1 > form {
  display: flex;
}

.section1 > .upper > .content1 > form > input {
  max-width: 336px;
  width: 100%;
  height: 50px;
  padding: 15px;
  font-size: 1rem;
  outline: none;
  border: 1px solid #e9e9e9;
  transition: 0.3s;
}

.section1 > .upper > .content1 > form > input:focus {
  box-shadow: 0 3px 6px 0 rgb(46 46 46 / 15%);
  border-color: #014798;
}

.section1 > .upper > .content1 > form > button {
  max-width: 190px;
  width: 100%;
  height: 50px;
  padding: 10px 15px;
  background-color: #008563;
  border: none;
  border-radius: 3px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
}
.section1 > .upper > .content1 > form > button:hover {
  background-color: #225f4d;
}

.section1 > .upper > .content1 > .btns {
  display: flex;
  padding-top: 10px;
  max-width: 670px;
  width: 100%;
  justify-content: space-evenly;
}

.section1 > .upper > .content1 > .btns > a {
  color: #2777b4;
  font-weight: bold;
}
.section1 > .upper > .content1 > .btns > a:nth-child(1):hover {
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-thickness: 2px;
}

.section1 > .upper > .content2 {
  background-color: #e1f5fe;
  max-width: 480px;
  width: 100%;
  padding: 64px 32px 32px 32px;
  border-radius: 5px;
  height: 290px;
}

.section1 > .upper > .content2 > .title {
  font-size: 18px;
}

.section1 > .upper > .content2 > .title > span {
  font-weight: bold;
  font-style: italic;
}

.section1 > .upper > .content2 > .mainContent > h2 {
  font-size: 27px;
  letter-spacing: -0.5px;
}

.section1 > .upper > .content2 > button {
  width: 214px;
  height: 50px;
  padding: 13px 20px 11px 20px;
  background-color: #2777b4;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 15px;
  margin-top: 20px;
  transition: 0.2s;
}

.section1 > .upper > .content2 > button:hover {
  background-color: #015a7d;
}

.section1 > .under {
  max-width: 1400px;
  width: 100%;
  display: flex;
  justify-content: end;
  padding-top: 10px;
}

.section1 > .under > a {
  color: white;
  padding-right: 30px;
  letter-spacing: -0.5px;
}

/* section2 */
.section2 {
  padding: 65px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section2 > .upper {
  text-align: center;
}

.section2 > .upper > span {
  display: block;
  font-size: 13px;
  margin-bottom: 8px;
}
.section2 > .upper > h2 {
  font-size: 30px;
  margin-bottom: 30px;
}

.section2 > .middle {
  max-width: 1440px;
  width: 100%;
  padding: 0px 15px 30px;
  display: flex;
  justify-content: space-between;
}

.section2 > .middle > .content {
  max-width: 317px;
  width: 22.5%;
}

.section2 > .middle > .content > a {
  width: 100%;
  display: flex;
  padding: 15px 10px;
  border: 1px solid #e9e9e9;
  border-radius: 5px;
  min-height: 112px;
  transition-duration: 0.3s;
  text-decoration: none;
}

.section2 > .middle > .content > a:hover {
  box-shadow: 0 0 15px rgb(46 46 46 / 30%);
}
.section2 > .middle > .content > a:hover .textBox > div {
  white-space: inherit;
}

.section2 > .middle > .content > a > .img {
  width: 70px;
  height: 70px;
  background-color: #2777b4;
  border-radius: 5px;
}

.section2 > .middle > .content > a > .textBox {
  font-size: 14px;
  width: calc(100% - 70px);
  padding-left: 10px;
}

.section2 > .middle > .content > a > .textBox > div {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.section2 > .middle > .content > a > .textBox > .text1 {
  color: #182642;
  font-weight: bold;
  line-height: 150%;
}
.section2 > .middle > .content > a > .textBox > .text2 {
  color: #5d677a;
}

.section2 > .middle > .content > a > .textBox > .text3 {
  display: none;
  color: #5d677a;
  letter-spacing: -0.5px;
  padding-top: 20px;
}

.section2 > .under > a {
  font-size: 14px;
  font-weight: bold;
  color: #2777b4;
}

.section2 > .under > a:hover {
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-thickness: 2px;
}

/* section3 */
.section3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 65px 0px;
  width: 100%;
}

.section3 > .upper > .title {
  font-size: 12px;
  margin-bottom: 8px;
  color: #5d677a;
  letter-spacing: 1px;
  font-weight: bold;
}

.section3 > .upper > h2 {
  font-size: 30px;
  color: #182642;
  margin-bottom: 30px;
}

.section3 > .middle {
  max-width: 1440px;
  width: 100%;
  height: 90px;
  padding: 0px 15px 20px;
}

.section3 > .middle > .links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}
.section3 > .under > a {
  font-size: 14px;
  font-weight: bold;
  color: #2777b4;
}

.section3 > .under > a:hover {
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-thickness: 2px;
}

.section3 > .under > sup {
  font-size: 10px;
  font-weight: bold;
  padding: 2px;
  color: #d12c27;
  border: 1px solid #d12c27;
  border-radius: 3px;
  vertical-align: 12px;
}

.section4 {
  padding: 65px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section4 > .upper > .title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}

.section4 > .under {
  padding-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.section4 > .under > .contents {
  display: flex;
  justify-content: space-around;
  max-width: 1440px;
  width: 100%;
  padding: 0px 15px;
}
.section4 > .under > .contents > .content {
  max-width: 260px;
  width: 100%;
}

.section4 > .under > .contents > .content > h2 {
  font-size: 19px;
  padding-bottom: 10px;
  color: #182642;
}

.section4 > .under > .contents > .content > ul > li {
  list-style: none;
}

.section4 > .under > .contents > .content > ul > li:nth-child(n + 6) {
  display: none;
}

.section4 > .under > .contents > .content > ul > li > a {
  text-decoration: none;
  color: #2e2e2e;
}

.section4 > .under > .contents > .content > button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  color: #2e2e2e;
  padding-top: 10px;
}

/* section5 */
.section5 {
  padding: 65px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section5 > .upper > .title {
  color: #5d677a;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 0.5px;
  margin-bottom: 8px;
  text-align: center;
}

.section5 > .upper > h2 {
  color: #182642;
  font-size: 30px;
  margin-bottom: 30px;
}

.section5 > .under {
  max-width: 1440px;
  width: 100%;
  padding: 0px 15px;
}

.section5 > .under > .contents {
  display: flex;
  justify-content: space-evenly;
  padding-top: 30px;
}

.section5 > .under > .contents > .content {
  max-width: 440px;
  padding: 0px 40px 0px;
  width: 35%;
}

.section5 > .under > .contents > .content > .imgBox {
  padding-bottom: 20px;
}

.section5 > .under > .contents > .content > .textBox > h3 {
  color: #182642;
  font-size: 19px;
  padding-bottom: 10px;
}

.section5 > .under > .contents > .content > .textBox > p {
  color: #5d677a;
  font-size: 16px;
  padding-bottom: 10px;
  letter-spacing: 0px;
  word-spacing: 2px;
}

.section5 > .under > .contents > .content > .textBox > a {
  color: #2777b4;
  font-size: 14px;
  font-weight: bold;
}
.section5 > .under > .contents > .content > .textBox > a:hover {
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-thickness: 2px;
}

/* section6 */
.section6 {
  padding: 65px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section6 > .under {
  max-width: 1440px;
  width: 100%;
  display: flex;
  padding: 0px 15px;
}

.section6 > .under > .left {
  width: 50%;
}

.section6 > .under > .left > .imgBox {
  text-align: right;
}

.section6 > .under > .left > .imgBox > img {
  width: 80%;
}
.section6 > .under > .right {
  width: 50%;
}

.section6 > .under > .right > .contents {
  display: flex;
  flex-direction: column;
}

.section6 > .under > .right > .contents > .content {
  width: 100%;
  padding-top: 20px;
  display: flex;
}

.section6 > .under > .right > .contents > .content > .imgBox {
  width: 70px;
  height: 70px;
  background-color: #e8c80d;
  border-radius: 50%;
  margin: 0px 40px;
}

.section6 > .under > .right > .contents > .content > .textBox {
  width: 60%;
}

.section6 > .under > .right > .contents > .content > .textBox > h3 {
  color: #182642;
  font-size: 19px;
  padding-bottom: 10;
}

.section6 > .under > .right > .contents > .content > .textBox > p {
  color: #5d677a;
  font-size: 16px;
  padding-bottom: 10px;
}

.section6 > .under > .right > .downloads {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.section6 > .under > .right > .downloads > a {
  text-align: center;
  border: 1px solid #5d677a;
  border-radius: 5px;
  width: 49%;
  padding: 10px 0px 5px;
}

.section6 > .under > .right > .downloads > a:hover {
  border-color: #5d99c6;
}

/* section7 */

.section7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 65px 0px;
}

.section7 > .middle {
  width: 100%;
  display: flex;
  justify-content: center;
}

.section7 > .middle > .contents {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  width: 100%;
  padding: 0px 15px 30px;
}

.section7 > .middle > .contents > .content {
  max-width: 432px;
  width: 30%;
  height: 240px;
  border: 2px solid transparent;
  border-radius: 8px;
  transition-duration: 0.3s;
}

.section7 > .middle > .contents > .content:hover {
  border-color: #014798;
}

.section7 > .middle > .contents > .content:hover .viewMore {
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-thickness: 2px;
}

.section7 > .middle > .contents > .content > a {
  width: 100%;
  position: relative;
}

.section7 > .middle > .contents > .content > a > .imgBox {
  width: 100%;
  height: 100%;
}
.section7 > .middle > .contents > .content > a > .imgBox > img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.section7 > .middle > .contents > .content > a > .textBox {
  padding: 15px 50px;
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
}

.section7 > .middle > .contents > .content > a > .textBox > h3 {
  color: #182642;
  font-size: 19px;
  margin-bottom: 6.5px;
  text-align: center;
}

/* section8 */

.section8 {
  padding: 67px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(./images/employer.png) no-repeat right #0e0e24;
}

.section8 > .contents {
  padding: 0px 15px;
  max-width: 1440px;
  width: 100%;
  color: white;
}

.section8 > .contents > .title {
  font-size: 14px;
  margin-bottom: 5px;
  letter-spacing: 1px;
}

.section8 > .contents > h2 {
  font-size: 32px;
  padding-bottom: 15px;
}

.section8 > .contents > p {
  font-size: 16px;
  padding-bottom: 20px;
}

.section8 > .contents > a {
  font-size: 17px;
  font-weight: bold;
  padding: 9px 55px;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  display: inline-block;
  transition: 0.3s;
}

.section8 > .contents > a:hover {
  background-color: white;
  color: #2777b4;
}
/* media */
@media screen and (min-width: 0px) and (max-width: 1000px) {
  .subTitle {
    font-size: 10px;
  }
  .subDescription {
    font-size: 19px;
  }

  /* section1 */
  .section1 {
    background-image: none;
    padding: 20px 15px 0px 15px;
  }

  .section1 > .upper {
    flex-direction: column;
  }

  .section1 > .upper > .content1 {
    flex-direction: column;
    padding: 0;
    height: auto;
    text-align: center;
    max-width: none;
  }
  .section1 > .upper > .content1 > span {
    padding-bottom: 30px;
  }
  .section1 > .upper > .content1 > form {
    flex-direction: column;
  }
  .section1 > .upper > .content1 > form > input,
  .section1 > .upper > .content1 > form > button {
    max-width: none;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  .section1 > .upper > .content1 > form > input {
    height: auto;
  }
  .section1 > .upper > .content1 > .btns {
    display: none;
  }

  .section1 > .upper > .content2 {
    max-width: none;
    height: auto;
    padding: 30px 0px;
    text-align: center;
  }

  .section1 > .upper > .content2 > .title {
    display: none;
  }
  .section1 > .upper > .content2 > .mainContent > h2 {
    font-size: 19px;
  }
  .section1 > .upper > .content2 > button {
    width: 95%;
    padding: 8px 0px;
    height: 40px;
  }

  .section1 > .under {
    justify-content: center;
    max-width: none;
    padding: 10px;
  }
  .section1 > .under > a {
    color: #2777b4;
  }

  /* section2 */
  .section2 {
    padding: 50px 0px;
  }
  .section2 > .upper > span {
    font-size: 11px;
  }

  .section2 > .upper > h2 {
    font-size: 19px;
    letter-spacing: -0.5px;
  }

  .section2 > .middle {
    flex-direction: column;
    padding-bottom: 0;
  }

  .section2 > .middle > .content {
    max-width: none;
    width: 100%;
    padding-bottom: 10px;
  }
  .section2 > .middle > .content > a > .textBox {
    width: 70%;
  }
  .section2 > .middle > .content > a:hover .textBox > div:nth-child(1) {
    white-space: nowrap;
  }
  .section2 > .middle > .content > a > .textBox > .text3 {
    display: block;
    white-space: inherit;
  }

  /* section3 */
  .section3 {
    padding: 50px 0px;
  }
  .section3 > .upper > .title {
    font-size: 10px;
  }
  .section3 > .upper > h2 {
    font-size: 19px;
  }

  .section3 > .middle {
    overflow: auto;
    margin-bottom: 26px;
  }

  .section3 > .middle > .links > a > img {
    margin: 0px 20px;
  }

  /* section4 */
  .section4 {
    padding: 50px 0px;
  }
  .section4 > .upper > .title {
    font-size: 19px;
  }
  .section4 > .under {
    padding-top: 0px;
  }
  .section4 > .under > .contents {
    flex-direction: column;
  }
  .section4 > .under > .contents > .content {
    padding-top: 30px;
  }

  /* section5 */
  .section5 {
    padding: 50px 0px;
  }

  .section5 > .upper > .title {
    font-size: 10px;
  }
  .section5 > .upper > h2 {
    font-size: 19px;
  }

  .section5 > .under > .contents {
    flex-direction: column;
    padding: 0px;
  }

  .section5 > .under > .contents > .content {
    display: flex;
    flex-direction: row;
    padding: 30px 0px 0px;
    width: 100%;
    max-width: none;
  }

  .section5 > .under > .contents > .content > .imgBox {
    width: 20%;
  }
  .section5 > .under > .contents > .content > .imgBox > img {
    width: 50px;
  }
  .section5 > .under > .contents > .content > .textBox {
    width: 80%;
  }

  /* section6 */
  .section6 > .under {
    flex-direction: column;
  }
  .section6 > .under > .left {
    width: 100%;
  }
  .section6 > .under > .left > .imgBox {
    width: 100%;
    text-align: center;
  }

  .section6 > .under > .left > .imgBox > img {
    width: 100%;
  }

  .section6 > .under > .right {
    width: 100%;
  }
  .section6 > .under > .right > .contents {
    flex-direction: row;
    justify-content: space-evenly;
    overflow: scroll;
  }
  .section6 > .under > .right > .contents > .content {
    width: 280px;
    height: 215px;
    border: 1px solid #e9e9e9;
    padding: 20px;
    border-radius: 5px;
  }

  .section6 > .under > .right > .contents > .content > .imgBox {
    width: 50px;
    height: 50px;
    margin: 0px;
  }
  .section6 > .under > .right > .contents > .content > .textBox {
    padding-left: 20px;
    width: calc(100% - 50px);
    overflow: scroll;
  }
  .section6 > .under > .right > .contents > .content > .textBox > h3 {
    padding-bottom: 10px;
  }

  /* section7 */

  .section7 {
    padding: 50px 0px;
  }

  .section7 > .middle > .contents {
    overflow: scroll;
  }
  .section7 > .middle > .contents > .content {
    min-width: 280px;
    width: 280px;
  }

  /* section8 */

  .section8 {
    padding: 42px 0px;
    background: url(./images/employer_mobile.png) no-repeat right;
    background-size: cover;
  }
  .section8 > .contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .section8 > .contents > .title {
    font-size: 12px;
    margin-bottom: 15px;
  }

  .section8 > .contents > h2 {
    font-size: 24px;
  }
}
