main {
  padding-top: 66px;
}

a {
  text-decoration: none;
}

.section1 {
  background-image: url(./images/section1_background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding: 105px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section1 > .upper {
  max-width: 1400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
}

.section1 > .upper > .content1 {
  background-color: white;
  max-width: 930px;
  width: 100%;
  padding: 64px 32px 32px 32px;
  border-radius: 5px;
  height: 290px;
}

.section1 > .upper > .content1 > h1 {
  font-size: 25px;
}
.section1 > .upper > .content1 > span {
  display: block;
  font-size: 20px;
  padding-bottom: 25px;
}

.section1 > .upper > .content1 > form {
  display: flex;
}

.section1 > .upper > .content1 > form > input {
  max-width: 336px;
  width: 100%;
  height: 50px;
  padding: 15px;
  font-size: 1rem;
  outline: none;
  border: 1px solid #e9e9e9;
  transition: 0.3s;
}

.section1 > .upper > .content1 > form > input:focus {
  box-shadow: 0 3px 6px 0 rgb(46 46 46 / 15%);
  border-color: #014798;
}

.section1 > .upper > .content1 > form > button {
  max-width: 190px;
  width: 100%;
  height: 50px;
  padding: 10px 15px;
  background-color: #008563;
  border: none;
  border-radius: 3px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
}
.section1 > .upper > .content1 > form > button:hover {
  background-color: #225f4d;
}

.section1 > .upper > .content1 > .btns {
  display: flex;
  padding-top: 10px;
  max-width: 670px;
  width: 100%;
  justify-content: space-evenly;
}

.section1 > .upper > .content1 > .btns > a {
  color: #2777b4;
  font-weight: bold;
}

.section1 > .upper > .content2 {
  background-color: #e1f5fe;
  max-width: 415px;
  width: 100%;
  padding: 64px 32px 32px 32px;
  border-radius: 5px;
  height: 290px;
}

.section1 > .upper > .content2 > .title {
  font-size: 18px;
}

.section1 > .upper > .content2 > .title > span {
  font-weight: bold;
  font-style: italic;
}

.section1 > .upper > .content2 > .mainContent > h2 {
  font-size: 27px;
}

.section1 > .upper > .content2 > button {
  width: 214px;
  padding: 13px 20px 11px 20px;
  background-color: #2777b4;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 15px;
  margin-top: 20px;
}

.section1 > .under {
  max-width: 1400px;
  width: 100%;
  display: flex;
  justify-content: end;
  padding-top: 10px;
}

.section1 > .under > a {
  color: white;
  padding-right: 30px;
}
