* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* color */
  --color-white: #ffffff;
  --color-base: #f4ebe6;
  --color-button: #b68040;
  --color-black: #000000;
  --color-underbar: #F6EEEC;

  /* size */
  --size-font-menu: 16px;

  /* font */
  --font-italic: "Quincy Regular Italic";
}

body{
  width: 1300px;
}
a {
  text-decoration: none;
  color: var(--color-black);
}

header {
  width: 100%;
  height: 11vw;
  background-color: red;
}

.header__upper {
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: var(--color-base);
  height: 35%;
}

.header__upper__text1,
.header__upper__text2 {
  font-family: var(--font-italic);
  /* font-size: var(--size-font-menu); */
  font-size: 1.1vw;
  margin-right: 1.5%;
  letter-spacing: 0.15em;
}

.header__upper__iconfacebook,
.header__upper__iconinstargram,
.header__upper__iconpinterest {
  margin-left: 0.5%;
}
.header__under{
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color-underbar);
  height: 65%;
}

.under__menu__icon{
  width: 88px;
  height: 88px;
  background-color: var(--color-button);
  fill: var(--color-white);
  padding: 8px;
}

.header__under__content1 {
  font-family: var("Quincy Regular");
  color: var(--color-button);
}

.header__under__content2,
.header__under__content3,
.header__under__content4,
.header__under__content5,
.header__under__blog,
.header__under__freebies {
  font-family: "Ramaraja", serif;
  font-size: var(--size-font-menu);
}
