* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* color */
  --color-white: #ffffff;
  --color-base: #f4ebe6;
  --color-button: #b68040;
  --color-black: #000000;
  --color-underbar: #f6eeec;

  /* size */
  --size-font-menu: 16px;
}

.upper {
  display: none;
}

.under,
.upper {
  display: none;
}

.mobile__header {
  display: flex;
  flex-direction: column;
}

.moblie__header__upper {
  display: flex;
}

.mobile__header__content2 {
  display: flex;
}
.mobile__header__content1 {
}
